* {
  font-family: Verdana;
}

.center {
  text-align: center;
  border-top: 45px;
}

.topnav {
  overflow: hidden;
  background-color: #a3abbf;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 15px;
  width: 16.6666666667%;
}

/* Change color on hover */
.topnav a:hover:not(.activepage) {
  background-color: #ddd;
  color: black;
}

.topnav a.activepage {
  text-decoration: underline;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 13px;
}

#back {
  background-color: #42aaf5;
  margin: 15px;
}
