body {
  background-color: rgb(234, 236, 239)
}

.nav_home {
  width: 30px;
  margin: 0px;
}

.row_layout {
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.card_bg {
  height: 100%;
}

.overlay_layout {
  background-color: rgb(234, 236, 239);
  padding: 5px;
  margin: 5px;
  text-align: center;
  opacity: .9;
  margin-top: 5px;
  color: rgb(112, 118, 126);
  height: 38px;
}

.kbd_site_style {
  background-color: rgb(207, 107, 100);
}

#wikipedia_bg {
  background-color: rgb(224, 101, 97);
}

#britianica_bg {
  background-color: rgb(33, 61, 103);
}

#chesscom_bg {
  background-color: rgb(224, 146, 97);
}

#lichess_bg {
}

#chess24_bg {
  background-color: rgb(144, 140, 173);
}

#kasparovchess_bg {
  background-color: rgb(0, 0, 0);
}

#fide_bg {
  background-color: rgb(51, 62, 99);
}

#chessable_bg {
  background-color: rgb(40, 91, 218);
}

#kasparovchess_margintop {
  margin-top: 23px;
}

#stockfish_bg {
  background-color: rgb(101, 158, 113);
}

#leela_bg {
  background-color: rgb(224, 195, 206);
}

#leela_margintop {
  margin-top: 15px;
}

#fide_margintop {
  margin-top: 25px;
}

#komodo_margintop {
  margin-top: 25px;
}

#komodo_bg {
  background-color: rgb(255, 224, 163);
}
